.contacto {
    display: flex;
    flex-direction: column;
}

.formcontato--esquerda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 35px 35px;
    gap: 15px;
    background-color: aqua;
    border-radius: 8px;
}

.formcontato__img {
    width: 20%; 
    height: 100px; 
    display: block; 
    border-radius: 8px;
    
      
}

.formcontato--esquerda h3 {
    font-size: 25px;
    align-items: center;
    margin: 35px ;
    font-weight: bold;
}

.formcontato__text {
    display: flex;
    flex-direction: column;
}

.formcontato__text h2{
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 25px;
    text-align: center;
}

.formcontato__text h3{
    margin: 15px 0 15px;
    text-align: center;
}

.formcontato__form {
display: flex;
flex-direction: column;
margin: 0 0 0 100px;
width: 70%;
gap: 10px;
}

.formcontato__botao {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    margin: 0 0 25px;

}