.tittle-education {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}

.section-education {
    display: flex;
    justify-content: space-between; /* Distribuir elementos uniformemente */
    flex-wrap: wrap;
   
}

.education-box {
    width: 100%;
    margin: 25px 0 25px 10px;
    
    
}

.education-img img {
    width: 65%;
    height: 5%;
    margin: 0 10px 0 95px;
}

.education-name{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2 em;
    margin: 10px 0 10px 0;

}

.education-detalle {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
