.hobbies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 15px 15px 15px;

}
.title-hobbies {
    margin: 25px ;
    font-size: 25px;
    font-weight: bold;
    
}

.section-hobbies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.hobbies-box {
    width: 80%; 
    margin-bottom: 15px;
    text-align: center;
    background-color: rgba(36, 108, 150, 0.103);
}

.hobbies-box img {
    max-width: 50%; 
    height: auto; 
}

